[run]
branch = True
source = chevah_compat

[report]
show_missing = False
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no branch
    noqa:cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

ignore_errors = True

omit =
    setup.py

[html]
directory = coverage-report

[paths]
source =
    src/chevah_compat
    */chevah_compat
    *\chevah_compat
